<form class="login-form mt-5" [formGroup]="form">
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Login</label>
    <input type="text" class="form-control"
           formControlName="username" id="inputLogin" aria-describedby="emailHelp">
    <div *ngIf="form.controls['username'].errors">
      <div *ngIf="form.controls['username'].errors.required"
           class="form-text text-danger">Field is required
      </div>
      <div *ngIf="form.controls['username'].errors.pattern"
           class="form-text text-danger">English letters only, symbol _ (4-14 symbols)
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="text" class="form-control"
           formControlName="password" id="inputPassword">
    <div *ngIf="form.controls['password'].errors">
      <div *ngIf="form.controls['password'].errors.required"
           class="form-text text-danger">Field is required
      </div>
      <div *ngIf="form.controls['password'].errors.minlength"
           class="form-text text-danger">min 4 symbols
      </div>
      <div *ngIf="form.controls['password'].errors.maxlength"
           class="form-text text-danger">max 16 symbols
      </div>
    </div>
  </div>


  <div class="mt-5">
    <button [disabled]="!form.valid"
            (click)="onLoginClick()"
            class="btn btn-warning">Login
    </button>
    <button (click)="onBackClick()"
            class="btn btn-warning btn-back">Back
    </button>
  </div>
</form>
